*.user
*.qm
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
/QtCreatorDeployment.txt
icons/*x*
/src/sailfishos-chum-gui
/src/sailfishos-chum-gui_autogen
translations/sources.txt
