*.qm
*.user
/QtCreatorDeployment.txt
/src/sailfishos-chum-gui
/src/sailfishos-chum-gui_autogen
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
icons/*x*
install_manifest.txt
translations/sources.txt
